*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*Classes Gerais*/
.section{
    width: 100%;
    float: left;
}

.content{
    width: 85%;
    margin: 0 auto;
}

span{
    color: #716aff;
    font-weight: bolder;
}
.botao{
    background-color: #716aff;
    padding: 11px 20px;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-weight: bolder;
}

.margem-baixo{
    margin-bottom: 30px;
}
.margem-cima{
    margin-top: 10px;
}
input{
    max-width: 650px;
    padding: 8px 10px;
    border: 2px solid #716aff;
    border-radius: 5px;
}

.botaov1{
    background-color: #fff;
    padding: 5px 2px;
    font-weight: bolder;
    border: none;
}
.botaov2{
    background-color: #716aff;
    padding: 5px 2px;
    font-weight: bolder;
    color: #fff;
    border: none; 
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    color: black;
    background-color: #e9e8fe;
    transition: 500ms all ease-in-out;
}

i{
    font-weight: bolder;
}
label{
    color: #716aff;
    margin-bottom: 5px;
    font-size: 18px;
}

h2{
    font-size: 3em
}
p{
    font-size: 2em
}

/*BOTAO/SWITCH*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #716aff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/*Modo Escuro*/
.coresMAIN{
    background-color: #e9e8fe;
    color: black;
}

*,.botaov1{
    color: #fff;
    background-color: black;
}

.botaov1{
    
}

/*aqui inicia HEADER*/
.content.header{
    padding: 65px;
    text-align: center;
}

/*aqui termina HEADER*/

/*aqui inicia MAIN*/
.section.principal{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

article{
    clip-path: polygon(0 1%, 60% 4%, 92% 23%, 95% 76%, 51% 100%, 0 94%, 0% 70%, 0% 30%);
    padding: 100px;
    background-color: #e9e8fe;
    z-index: 100
}

.redes-sociais{
    display: flex;
    flex-direction: column;
}
.redes-sociais>i{
    margin-bottom: 10px;
    margin-top: 10px;
}

.formulario{
    padding: 100px; 
}
.formulario>form{
    display: flex;
    flex-direction: column;
}

.botao-box{
    display: flex;
    flex-wrap: nowrap;
}
/*aqui termina MAIN*/

/*aqui inicia FOOTER*/
footer{
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
}